/******** GLOBAL VARIABLES AND RESET ********/
:root {
  --primary: #054480;
  --accent: #ff6600;
  --cream: #d3cfc8;
  --dark: #1a1a1a;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: var(--white);
  color: var(--dark);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

/*************** HEADER STYLES START *************/
/**--------------------------------------------**/
.flex-header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 5px 100px 5px 20px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header-title {
  color: var(--accent);
  font-size: 1.3em;
}

.nav-menu a {
  color: var(--accent);
  font-size: 1.2em;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}

.nav-menu a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: var(--white);
  transition: 0.3s ease;
}

.nav-menu a:hover {
  color: var(--white);
}

.nav-menu a:hover::before {
  width: 100%;
}

/************* SECTION 1: OUR TEAM ***************/
.team-title {
  color: var(--accent);
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.team-grid {
  background: var(--white);
  padding: 25px;
  border-radius: 10px;
  border: 2px solid #e4e2e2;
  transition: 
  transform 0.3s ease,
  box-shadow 0.3s ease;
}

.team-grid h2 {
  margin-bottom: 5px;
  font-size: 22px;
  text-align: center;
}

.team-grid h3 {
  color: gray;
  margin-bottom: 2px;
  text-align: center;
}

.team-grid p {
  line-height: 1.5;
  text-align: center;
}

.team-grid:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/************* SECTION 2: WHY CHOOSE US ***************/
.choice-title {
  color: var(--accent);
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.choice-flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.choice-card {
  background: var(--white);
  padding: 25px;
  border: 2px solid #e4e2e2;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  transition: 
  transform 0.3s ease,
  box-shadow 0.3s ease;
}

.icon {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.choice-card h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.choice-card p {
  line-height: 1.6;
  color: #302f2f;
}

.choice-card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/************* SECTION 3: JOIN OUR NEWSLETTER ***************/
.newsletter-section {
  padding: 60px 20px;
}

.newsletter-box{
  background: var(--white);
  margin: auto;
  text-align: center;
  max-width: 700px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 50px 30px;
}

.newsletter-title {
  color: var(--accent);
  position: relative;
  text-align: center;
  font-size: 40px;
}

.newsletter-title::before{
  content: "";
  position: absolute;
  top: -15%;
  left: 50%;
  background: var(--accent);
  width: 60%;
  height: 3px;
  transform: translateX(-50%);
}

.newsletter-text{
  color: #555;
  line-height: 1.6;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.flex-form{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.flex-form input{
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  border: 2px solid #ccc;
  font-size: 1.2rem;
}

.flex-form button{
  padding: 5px 20px ;
  color: var(--accent);
  font-weight: bold;
  background: var(--primary);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.3rem;
}

.flex-form button:hover{
  color:  var(--white);
  background-color: #ff6600;
}

/************* SECTION N: MEDIA QUERIES ***************/
@media(max-width:768px){

  .flex-header{
    padding:20px;
    flex-direction:column;
    text-align:center;
  }

  .choice-flex{
    flex-direction:column;
  }

}

@media(max-width:480px){

  .team-title,
  .choice-title,
  .newsletter-title{
    font-size:30px;
  }

  .flex-form input{
    width:100%;
  }

  .flex-form{
    flex-direction:column;
  }

  .nav-menu a{
    display:block;
    margin:10px 0;
  }

}